<div class="ms-card-container">
  <div class="ms-card-container__header">
    <h1>Clientes</h1>
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Agregar cliente</button>
  </div>
  <app-table *ngIf="!loading" 
  [list]="list"
  [totalItems]="totalItems" 
  [page]="page" 
  [serviceGet]="customerService.getCustomers" 
  [serviceDelete]="customerService.deleteCustomer" 
  [colums]="tableColums" 
  (onEdit)="editItem($event)">
  </app-table>
</div>


<div class="modal fade" tabindex="-1" id="myModal" #myModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-form">
        <h3>{{editing? 'Editar empleado': 'Agregar empleado'}}</h3>
        <form action="" [formGroup]="form" (ngSubmit)="sendCustomer()">
          <label for="name" class="form-label">Nombre</label>
          <div class="input-group mb-3">
            <span class="input-group-icon"><i class="far fa-user"></i></span>
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Nombre de cliente"
              maxlength="60" required>
          </div>
          <label for="lastName" class="form-label">Apellido</label>
          <div class="input-group mb-3">
            <span class="input-group-icon"><i class="far fa-user"></i></span>
            <input type="text" class="form-control" name="lastName" formControlName="lastName" placeholder="Apellido del cliente"
              maxlength="60" required>
          </div>
          <label for="telephone" class="form-label">Telefono</label>
          <div class="input-group mb-3">
            <span class="input-group-icon"><i class="fas fa-phone-alt"></i></span>
            <input type="text" class="form-control" name="telephone" formControlName="telephone"
              placeholder="Telefono del cliente" maxlength="60" required>
          </div>
          <div class="modal-form__actions">
            <button type="button" class="btn" data-dismiss="modal" (click)="resetForm()">Cancelar</button>
            <button type="submit" class="btn btn-primary">{{editing? 'Editar': 'Agregar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>