<div class="ms-card-container">
  <div class="ms-card-container__header">
    <h1>Proveedores</h1>
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="resetModalForm()">Agregar proveedor</button>
  </div>  
  <app-table *ngIf="!loading" 
  [list]="list"
  [totalItems]="totalItems" 
  [page]="page" 
  [service]="providerService" 
  [colums]="tableColums" 
  (onEdit)="editItem($event)"
  (onChangePage)="page = $event">
  </app-table>
</div>

<div class="modal fade" tabindex="-1" id="myModal" #myModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-form">
        <h3>{{editing? 'Editar proveedor': 'Agregar proveedor'}}</h3>
        <form action="" [formGroup]="form" (ngSubmit)="send()">
          <label for="email" class="form-label">Nombre</label>
          <div class="input-group mb-3">
            <span class="input-group-icon"><i class="far fa-user"></i></span>
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Nombre de proveedor"
              maxlength="60" required>
          </div>
          <label for="email" class="form-label">Telefono</label>
          <div class="input-group mb-3">
            <span class="input-group-icon"><i class="fas fa-phone-alt"></i></span>
            <input type="text" class="form-control" name="telephone" formControlName="telephone"
              placeholder="Telefono de proveedor" maxlength="60" required>
          </div>
          <div class="modal-form__actions">
            <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">{{editing? 'Guardar': 'Agregar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
