<div class="container-fluid bg-pattern">
    <div class="row vh-100">
        <div class="col-12 my-auto">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="recover-password">
                        <div class="logo mb-4">
                            <img src="../../../assets/img-signup/logo-mispollos.svg" width="150" alt="">
                        </div>
                        <h1 class="title">Recupera tu cuenta</h1>
                        <section class="form-section">
                            <form action="" autocomplete="off" class="ms-form-login" [formGroup]="form"
                                (ngSubmit)="send()">

                                <label for="email" class="form-label">Ingresa tu correo electronico para buscar tu cuenta</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-icon">@</span>
                                    <input type="email" class="form-control" name="email"
                                        formControlName="email" placeholder="example@host.com"
                                        maxlength="60" required>
                                </div>
                                <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">

                                    <div class="alert alert-danger" *ngIf="f.email.errors.required">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.email.errors.maxlength">
                                        La contraseña solo puede contener maximo 60 caracteres.
                                    </div>                                    
                                    <div class="alert alert-danger" *ngIf="f.email.errors.email">
                                        El correo es inválido.
                                    </div>
                                </div>                                

                                <div class="form-section__actions">
                                    <a class="btn btn-secondary" style="min-width: 173px;"
                                        routerLink="/login">Cancelar</a>
                                    <input type="submit" class="btn btn-primary" style="min-width: 173px;"
                                        value="Enviar">
                                </div>
                            </form>
                            <p class="text-center mt-5 mb-0">Mis Pollos © 2020</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" #modalToggle data-toggle="modal" [hidden]="true" data-target="#myModal"></button>
<div class="modal fade" tabindex="-1" id="myModal" data-backdrop="static" #myModal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-form text-center">
                <h3>{{wrongUser? 'El correo ingresado no existe': 'Hemos enviado un correo a '+ email +' , por favor revisa tu bandeja de entrada'}}</h3>
                <div *ngIf="!wrongUser; else elseBlock">
                    <svg version="1.1" class="svg-modal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                            stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                    </svg>
                </div>
                <ng-template #elseBlock>
                    <svg class="svg-modal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#D06079" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="34.4" y1="37.9" x2="95.8" y2="92.3" />
                        <line class="path line" fill="none" stroke="#D06079" stroke-width="6" stroke-linecap="round"
                            stroke-miterlimit="10" x1="95.8" y1="38" x2="34.4" y2="92.2" />
                    </svg>
                </ng-template>
                <a *ngIf="!wrongUser; else wrongButton" class="btn btn-primary mt-5" data-dismiss="modal"
                    routerLink="/login" style="min-width: 150px;">OK</a>
                <ng-template #wrongButton>
                    <button class="btn btn-primary mt-5" data-dismiss="modal" style="min-width: 150px;">OK</button>
                </ng-template>
            </div>
        </div>
    </div>
</div>