:host {
    width: 100%;
}

.ms-card-container {
    box-shadow: none;
    background-color: transparent;
}

canvas {
    max-width: 100%;
    width: 100%;
}

.informative-cards {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    margin: 0;
    margin-bottom: 2rem;
    @media (max-width: 576px) {
        font-size: 12px;
    }
}

.informative-card {
    display: flex;
    width: 100%;
    min-width: 135px;
    padding: 1rem;
    background-color: #FFFFFF;        
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
    color: #99abb4;
    margin-bottom: 2rem;

    &__icon {
        display: flex;
        align-items: center;
        font-size: 30px;
        color: #4bc0c0;
        padding: 10px 20px 10px 10px;
    }
    
    &--1 {
        .informative-card__icon {
            color: #4bc0c0;
        }
    }
    &--2 {
        .informative-card__icon {
            color: #fb9678;
        }
    }
    &--3 {
        .informative-card__icon {
            color: #03a9f3;
        }
    }
    &--4 {
        .informative-card__icon {
            color: #ab8ce4;
        }
    }

    

    h3 {
        font-size: 1em;
        margin: 0;            
    }   
    small {
        display: block;
    }         
    p {
        font-size: 1.5em;
        font-weight: 400;
        color: #455a64;
    }
}   

/* .sales {    
    text-align: center;   
    height: 100%;
    background-color: #fff;
    color: #99abb4;
    padding: 1rem;
    box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
    small{
        color: #99abb4;
    }
    h3 {
        color: #455a64;
        font-weight: 400;
        margin: 0;
        font-size: 24px;
    } 
    .percent {
        display: block;
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        color: #333333;
    }
    .fa-caret-up {color: #00c200;}
    .fa-caret-down  {color: #C62632;}
} */

.sales {
    
    .content {
        text-align: center;
        .text {
            font-size: 32px;
            font-weight: 700;
            h2 {
                font-size: 32px;
                font-weight: 700;
            }
            p{
                color: #4bc0c0;
            }
        }
        .decrease {
            p {
                color: #ff5478;
                .fa-caret-up {
                    transform: rotateX(-180deg);
                }
            }
        }
        .icon{
            padding: 0 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 150px;
            color: #4bc0c0;
        }
    }
}


.best-selling-products .table .active {
    background-color: #4bc0c0;
    td {
        color: #fff;
    }
}

.least-sold-products .table .active {
    background-color: #ff5478;
    td {
        color: #fff;
    }
}


.card-warning {
    .content {
        padding: 2rem 0;    
        width: 100%;
        .text {
            width: 100%;
            font-size: 32px;
            font-weight: 700;   
            display: flex;
            flex-direction: column;
            justify-content: center;   
            h2 {
                font-size: 32px;
                font-weight: 700;
            }
            p {
                color: #ffcc52;
            }
        }
        .icon {
            padding: 0 10%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 100px;
            color: #ffcc52;
        }
    }
}