.administration {
    display: flex;
    flex-direction: column;
    padding-left: 250px;
    min-height: 100vh;
    justify-content: space-between;
    transition: padding .5s ease-in-out;
}

.hide-sideNav {
    padding-left: 0;
    .ms-header {
        &__logo {
            opacity: 1;
        }
    }
    .side-nav {
        transform: translateX(-100%);
    }
}

@media (max-width:991px) {
    .administration {
        padding-left: 0px;
    }
}


/* DROPDOWN */

.dropdown {
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    position: absolute;
    top: 100%;    
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
    min-width: 150px;
    transition: all .3s ease-in-out;
    overflow: hidden;
    ul {
        list-style: none;
        margin: 0;
        li {
            &:hover {
                background-color: #f0f0f0;
            }
            button {
                width: 100%;
            }
            a {
                color: #999999;
                display: block;
                width: 100%;
            }
        }
    }
}

.ms-header {    
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    width: 100%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
    padding: 0 1rem;
    background-color: #fff;    
    z-index: 1040;
    &__logo {
        transition: .5s ease-in-out;
        opacity: 0;
    }
    &__menu {
        position: relative;
        &:hover .dropdown{
            visibility: visible;
            opacity: 1;
        }
        button {
            color: #999999;
        }
    }

    .btn-toggle {        
        color: #F24C36;
        i {
            pointer-events: none;
        }
    }

}



.ms-header__menu {
    display: flex;
    align-items: center;
}

.ms-header__menu span {
    color: #999999;
}


.side-nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
    background-color: #fff;
    max-width: 250px; 
    width: 100%;   
    z-index: 1030;
    transition: all .5s ease-in-out;
    z-index: 1040;

    &__logo {
        padding: 3rem 1.5rem 1rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        margin-bottom: 4rem;
        img {
            max-width: 100%;
        }
    }

    &__menu {
        list-style: none;
        flex: 1;
        margin: 0;
        padding: 0;        
        li {            
            a {
                display: block;
                padding: 1rem 1.5rem;
                text-decoration: none;
                color: #999999;
                transition: all .2s ease-in;                
                &:hover {
                    background-color: #f0f0f0;
                }
                &.active{
                    background-color: #F24C36;
                    color: #fff;
                }

                i {
                    width: 20px;
                }
            }
        }        
    }

    &__copy {
        padding: 1.5rem;
        color: #999999;
        text-align: center;
    }
}

.administration-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    padding: 2rem;
    @media (max-width: 991px) {
        padding: 1rem;
    }
    @media (max-width: 768px) {
        padding: 0;
    }
}
.ms-footer {
    padding: 1rem;
    justify-self: flex-end;
    min-height: 80px;
    background-color: #F24C36;
    font-size: 12px;
    color: #fff;
}

.ms-footer__column {

    .info {
        margin-bottom: 0;
        a{
            text-decoration: none;
            color: #fff;
        }    
    }

    .title {
        font-size: 12px;
        font-weight: bold;
        color: #fff;
    }
}


.bg-shadow {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.20);
    transition: opacity .5s ease-in-out, visibility 0s .5s;
    z-index: 1030;
    &.show {
        visibility: visible;
        opacity: 1;
        transition: opacity .5s ease-in-out;
    }
}


