<div class="container-fluid bg-pattern">
    <div class="row vh-100">
        <div class="col-12 my-auto">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="recover-password">
                        <div class="logo mb-4">
                            <img src="../../../assets/img-signup/logo-mispollos.svg" width="150" alt="">
                        </div>
                        <h1 class="title">{{!user? 'Link Expirado' : 'Recuperar contraseña'}}</h1>
                        <section *ngIf="user" class="form-section">
                            <form action="" autocomplete="off" class="ms-form-login" [formGroup]="form"
                                (ngSubmit)="send()">

                                <label for="password" class="form-label">Contraseña</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-icon"><i class="fas fa-unlock-alt"></i></span>
                                    <input type="password" class="form-control" name="password"
                                        formControlName="password" placeholder="*********"
                                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,}$" maxlength="16"
                                        minlength="8" required>
                                </div>
                                <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">

                                    <div class="alert alert-danger" *ngIf="f.password.errors.required">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.password.errors.maxlength">
                                        La contraseña solo puede contener maximo 16 caracteres.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.password.errors.minlength">
                                        La contraseña solo puede contener minimo 8 caracteres.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.password.errors.pattern">
                                        La contraseña debe tener 1 mayuscula 1 minuscula y un numero.
                                    </div>
                                </div>

                                <label for="password" class="form-label">Confirmacion de contraseña</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-icon"><i class="fas fa-unlock-alt"></i></span>
                                    <input type="password" class="form-control" name="passwordConfirmation"
                                        formControlName="passwordConfirmation" placeholder="*********"
                                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{0,}$" maxlength="16"
                                        minlength="8" required>
                                </div>
                                <div
                                    *ngIf="f.passwordConfirmation.invalid && (f.passwordConfirmation.dirty || f.passwordConfirmation.touched)">

                                    <div class="alert alert-danger" *ngIf="f.passwordConfirmation.errors.required">
                                        Este campo es obligatorio.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.passwordConfirmation.errors.maxlength">
                                        La contraseña solo puede contener maximo 16 caracteres.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.passwordConfirmation.errors.minlength">
                                        La contraseña solo puede contener minimo 8 caracteres.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.passwordConfirmation.errors.pattern">
                                        La contraseña debe tener 1 mayuscula 1 minuscula y un numero.
                                    </div>
                                    <div class="alert alert-danger" *ngIf="f.passwordConfirmation.errors.mustMatch">
                                        Las contraseñas no coinciden.
                                    </div>
                                </div>

                                <div class="form-section__actions">
                                    <a class="btn btn-secondary" style="min-width: 173px;"
                                        routerLink="/login">Cancelar</a>
                                    <input type="submit" class="btn btn-primary" style="min-width: 173px;"
                                        value="Enviar">
                                </div>
                            </form>
                            <p class="text-center mt-5 mb-0">Mis Pollos © 2020</p>
                        </section>
                        <div *ngIf="!user" class="expired-token text-center">
                            <p class="my-5">El link ha expirado porfavor comunicate <br> con el administrador</p>
                            <a class="btn btn-primary" style="width: 150px;" routerLink="/login">Salir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" #myModal data-toggle="modal" [hidden]="true" data-target="#myModal"></button>
<div class="modal fade" tabindex="-1" id="myModal" data-backdrop="static" #myModal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-form text-center">
                <h3>Contraseña actualizada</h3>
                <div>
                    <svg version="1.1" class="svg-modal" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                        <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                            cx="65.1" cy="65.1" r="62.1" />
                        <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6"
                            stroke-linecap="round" stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 " />
                    </svg>
                </div>
                <a class="btn btn-primary mt-5" data-dismiss="modal" routerLink="/login" style="min-width: 150px;">OK</a>
            </div>
        </div>
    </div>
</div>