<div class="ms-card-container">
    <div class="ms-card-container__header">
        <h1>Categorias</h1>
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="resetModalForm()">Agregar Categoria</button>
    </div>
    <app-table *ngIf="!loading" 
    [list]="list"
    [totalItems]="totalItems" 
    [page]="page" 
    [service]="categoryService" 
    [colums]="tableColums" 
    (onEdit)="editItem($event)"
    (onChangePage)="page = $event">
    </app-table>
</div>

<div class="modal fade" tabindex="-1" id="myModal" #myModal>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-form">
        <h3>{{editing? 'Editar categoria': 'Agregar categoria'}}</h3>
        <form action="" [formGroup]="form" (ngSubmit)="sendItem()">
          <label for="email" class="form-label">Nombre</label>
          <div class="input-group mb-3">
            <span class="input-group-icon"><i class="far fa-user"></i></span>
            <input type="text" class="form-control" name="name" formControlName="name" placeholder="Nombre de la categoria"
              maxlength="60" required>
          </div>
          <div *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)">

            <div class="alert alert-danger" *ngIf="f.name.errors.required">
                Este campo es obligatorio.
            </div>
            <div class="alert alert-danger" *ngIf="f.name.errors.maxlength">
                El correo no puede contener mas de 40 caracteres.
            </div>
        </div>
          <div class="modal-form__actions">
            <button type="button" class="btn" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">{{editing? 'Guardar': 'Agregar'}}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>