/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #455a64;
}

*:focus {
    outline: none;
}

a {
  color: #F24C36;
  &:hover {
    color: #F24C36;
  }
}

p {
    margin: 0;
}

small {
  color: #999999;
}

/* GENERAL */

.breadcrumb {
  background-color: transparent;
  margin-bottom: 0;
}

.title {
  font-size: 2rem;
  font-weight: 900;
}

.bg-pattern {
  background-image: url("./assets/img-general/mp-background-pattern.svg");
  background-size: 500px;
}

.hide {
  display: none;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.ms-card-container {
    box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
    background-color: #ffffff;
    width: 100%;
    min-height: 100%;
    padding: 1.5rem;
    @media (max-width: 576px) {
      padding: 1.5rem 0;
    } 
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        @media (max-width: 576px) {
          flex-direction: column;
        } 
        h1 {
            color: #455a64;
            font-weight: 400;
            font-size: 1.5rem;
            margin: 0;
            margin-bottom: 1rem;
        }       
        button, a {
          margin-bottom: 1rem;
        } 
    }
}


/* CARD */
.card {
  box-shadow: 0 3px 9px 0 rgb(169 184 200 / 15%);
  border: none;
  padding: 1rem;
  .card-header {
    background-color: transparent;
    border: none;
    padding-left: 0;
    h2 {
      font-size: 24px;
    }
  }
}

/* TABLE STYLES */
.table>:not(:last-child)>:last-child>* {
    border: none;
}

.table-responsive-md {
  padding: 0 .2rem;
}

.table {
    font-size: 14px;
    color: #455a64;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10); */
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table tr td:only-child {
  text-align: center;
}

table tbody tr {
  box-shadow: 0 0px 1px 0 #99abb4;
  transition: background .2s ease-in-out;
  background-color: #fff;
}

table tbody tr:hover {
  background-color: rgba(240, 240, 240, 0.50);
}

.table tbody td {
    color: #99abb4;
    vertical-align: middle;
    white-space: nowrap;
    border-top: none;
}

.table-pagination {
    display: flex;
    justify-content: center;
    .page-link {
        border: none;
        color: #999999;
        transition: all .3s ease-in-out;
        &.active {
          background-color: #F24C36;
          color: #fff;
        }
        &.disabled {
          opacity: .5;
          pointer-events: none;
        }
    }
}


.pagination {
    a {
        cursor: pointer;
    }
}

/* BUTTON STYLES */

.btn {
  transition: .3s;
  border: none;  
  &:focus, &:active, &:active:focus {
    box-shadow: none;
  }
  i {
    pointer-events: none;
  }
}

.btn-primary {
  background-color: #F24C36;  
  &:hover {
    box-shadow: inset 0 0 0 2em rgba(255, 255, 255, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.30) !important;
    transform: scale(1.05);
    background-color: #F24C36 !important;
  }  
  &:focus, &:active, &:active:focus {
    background-color: #F24C36 !important;
    box-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.30) !important;
    transform: scale(1);
  }
}

.btn-secondary {
  background-color: #F2F2F2;
  color: #999999;  
  &:hover ,&:focus, &:active, &:active:focus {
    background-color: #F2F2F2 !important;
    color: #999999 !important;
  }  
}

.btn-green {
  background-color: #217346;
  color: #ffffff;
  &:hover {
    box-shadow: inset 0 0 0 2em rgba(255, 255, 255, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.30) !important;
    transform: scale(1.05);
    color: #ffffff;
      background-color: #217346 !important;
  }  
  &:focus, &:active, &:active:focus {
    color: #ffffff;
      background-color: #217346 !important;
    box-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.30) !important;
    transform: scale(1);
  }    
}

.btn-edit, .btn-delete {
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    color: #fff;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 .5rem;
    &:hover {
      box-shadow: inset 0 0 0 2em rgba(255, 255, 255, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.30) !important;
      transform: scale(1.05);
      color: #fff;
    }  
    &:focus, &:active, &:active:focus {
      box-shadow: inset 0 0 0 2em rgba(0, 0, 0, 0.15), 0px 0px 10px rgba(0, 0, 0, 0.30) !important;
      transform: scale(1);
      color: #fff;
    }
}

.btn-edit {
    background-color: #0D7FBF;
}

.btn-delete {
    background-color: #C62632;
}

/* LINK STYLES */
.ms-hightlight {
  color: #F24C36;
  text-decoration: none;
  text-align: center;
}

button.ms-hightlight {
  background-color: transparent;
  border: none;
}

/* MODAL STYLES */
.modal-content {
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
}

.modal-alert {
  padding: 1rem;
  h3 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  &__actions{
    display: flex;
    justify-content: space-between;
    button {
      min-width: 150px;
    }
  }
}

.ms-form {
  padding: 1rem;
  .subtitle {
    font-size: 20px;
    font-weight: 700;
  }
  &__actions {
      display: flex;      
      margin-top: 2rem;
      flex-wrap: wrap;
      @media (max-width: 576px) {
          flex-direction: column-reverse;
      }
      .btn {
          min-width: 150px;
          margin-bottom: 1rem;
          &:last-child {
            margin-left: 1rem;
            @media (max-width:576px) {
                margin-left: 0;
            }
        }
      }
  }

  form {
      padding: 0 1rem;
  }

  h3 {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 2rem;
  }
  .input-group {
      position: relative;
      .input-group-icon{
          position: absolute;
          top: 50%;
          left: .5rem;
          transform: translateY(-50%);
          z-index: 1030;
          color: #F24C36;
      }
      input.form-control, select.form-control{
          padding-left: 2rem;
          border-radius: 5px !important;
          &:focus{
              box-shadow: none;
              border-color: #F24C36;
          }
          &::placeholder {
              color: #999999;
          }
          &.disabled {
            pointer-events: none;
            opacity: .5;
          }
      }

      select.form-control{
        appearance: none;
      }
      
      input[type="date"] {
        &~.right-icon{
          left: auto;
          right: .5rem;
      }
        &::-webkit-calendar-picker-indicator {
          opacity: 0;
          -webkit-appearance: none;
          width: calc(100% - 135px);
        }
      }
      .select-arrow {
        pointer-events: none;
        position: absolute;
        top: 50%;
        right: .5rem;
        transform: translateY(-50%);
        z-index: 1030;
        color: #F24C36;
      }        

      textarea.form-control {
        &:focus{
          box-shadow: none;
          border-color: #F24C36;
        }
        &::placeholder {
            color: #999999;
        }
      }
  }

}

.modal-form {
    @extend .ms-form;  
    &__actions {
      display: flex;      
      margin-top: 2rem;
      justify-content: space-between;
      flex-wrap: wrap;
      @media (max-width: 576px) {
        flex-direction: column-reverse;
    }
      .btn {
          min-width: 150px;
          margin-bottom: 1rem;
      }
  }
}


/* ALERTS */ 

.alert {
    font-size: 0.75rem;
    margin-top: -.9rem;
    padding: .30rem 0rem;
    background-color: transparent;
    border: none;       
}

.alert-danger {
    color: #C62632 ;
} 

/* AUTOCOMPLETE */

.autocomplete {
  position: relative;
  .results {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -1rem;
    list-style: none;
    margin: 0;
    width: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
    padding: .5rem 0;
    z-index: 1040;
    .item {
      cursor: pointer;
      padding: .5rem;
      width: 100%;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

/* TABS */
.tabs {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  .active-bar{
    height: 5px;
    background-color: #F24C36;
    position: absolute;
    top: 100%;
    transition: all ease-in-out .3s;
  }
  .tab {
    background-color: #ffffff;
    color: #999999;
    border: none;
    padding: 8px 14px;
    transition: all ease-in-out .3s;
    &.active {
      color: #F24C36;
    }
  }
}


/* SVG CHECK MARK */

.svg-modal {
    width: 100px;
    display: block;
    margin: 40px auto 0;
    .path {
        stroke-dasharray: 1000;
        stroke-dashoffset: 0;
        &.circle {
          -webkit-animation: dash .9s ease-in-out;
          animation: dash .9s ease-in-out;
        }
        &.line {
          stroke-dashoffset: 1000;
          -webkit-animation: dash .9s .35s ease-in-out forwards;
          animation: dash .9s .35s ease-in-out forwards;
        }
        &.check {
          stroke-dashoffset: -100;
          -webkit-animation: dash-check .9s .35s ease-in-out forwards;
          animation: dash-check .9s .35s ease-in-out forwards;
        }
      }
      
      p {
        text-align: center;
        margin: 20px 0 60px;
        font-size: 1.25em;
        &.success {
          color: #73AF55;
        }
        &.error {
          color: #D06079;
        }
      }
}
  
  @-webkit-keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 1000;
    }
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @-webkit-keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }
  
  @keyframes dash-check {
    0% {
      stroke-dashoffset: -100;
    }
    100% {
      stroke-dashoffset: 900;
    }
  }